body {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
    grid-gap: 20px;
}

.hidden {
    display: none;
}

.box-model {
    background-color: #000; /*fix color*/
    color: #fff;
    padding: 1em;
    margin: 1em;

}

.header {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
    grid-column: 1/ span 4;
    justify-content: space-evenly;
}

.logo {
    grid-column: 1/ span 1;
}

.navbar {
    grid-column: 2/ span 3;
}

.promo {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
    grid-column: 1/ span 4;
}

.picture {
    grid-column: 1/ span 4;
    line-height: 400px;
    text-align: center;
}

.about {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
    grid-column: 1/ span 4;
}

.text {
    grid-column: 2/ span 2;
    line-height: 300px;
    text-align: center;
}

.news {
    display: grid;
    grid-column: 2/ span 2;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
}

.post {
    line-height: 250px;
    width: 16em;

}


.footer {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
    grid-column: 1/ span 4;
    justify-content: space-evenly;
}

.copyright {
    grid-column: 1/ span 2;
}

.footer-navbar {
    grid-column: 3/ span 2;
}


@media screen and (max-width: 800px) {
    .news {
        display: grid;
        grid-column: 2/ span 2;
        grid-template-columns: 1fr;
        justify-content: space-evenly;
        margin: auto;
    }

    .picture {
        line-height: 200px;
    }

    .text {
        line-height: 150px;
    }
}